[submodule "templates/public/javascripts/vendor/backbone"]
	path = templates/public/javascripts/vendor/backbone
	url = https://github.com/jashkenas/backbone/
[submodule "templates/public/javascripts/vendor/underscore"]
	path = templates/public/javascripts/vendor/underscore
	url = https://github.com/jashkenas/underscore/
