package routes

import (
    . "github.com/cliohq/clio/core"
    "{{.AppName}}/app/controllers"
)

// func {{.SingularTitle}}Routes () {
func init () {
    Get    ("/{{.PluralPath}}",     controllers.{{.PluralTitle}})
    Get    ("/{{.PluralPath}}/:id", controllers.{{.SingularTitle}})
    Post   ("/{{.PluralPath}}",     controllers.{{.PluralTitle}}Create)
    Put    ("/{{.PluralPath}}/:id", controllers.{{.SingularTitle}}Update)
    Delete ("/{{.PluralPath}}",     controllers.{{.PluralTitle}}Remove)
    Delete ("/{{.PluralPath}}/:id", controllers.{{.SingularTitle}}Remove)
}
