package routes

import (
    . "github.com/cliohq/clio/core"
    "{{.AppName}}/app/controllers"
)

// func {{.SingularTitle}}Routes () {
func init () {
    Get    ("/{{.PluralPath}}",   controllers.{{.PluralTitle}})
    Get    ("/{{.PluralPath}}/*", controllers.{{.SingularTitle}})
    Post   ("/{{.PluralPath}}",   controllers.{{.PluralTitle}}Create)
    Put    ("/{{.PluralPath}}/*", controllers.{{.SingularTitle}}Update)
    Delete ("/{{.PluralPath}}",   controllers.{{.PluralTitle}}Remove)
    Delete ("/{{.PluralPath}}/*", controllers.{{.SingularTitle}}Remove)
}
